# Tutorial 7: Pandas with real world data
TA: ZHANG Wei

E-mail: wzhang472-c@my.cityu.edu.hk

### Introduction
This tutorial will show you pandas operations using the real world dataset.

### Example 1: the US States Dataset
1.The US States Dataset ("state-abbrevs.csv", "state-areas.csv" and "state-population.csv") can be downloaded at https://github.com/jakevdp/data-USstates/, please download these csv files and put them in the same directory as this tutorial jupyter file before runing the next cell.


"state-abbrevs.csv" contains the relationship between the names of states and their abbrevations (examples are shown below).

|       | state    | abbreviation  | 
|----------|-----------|---------------|
|0      |Alabama    |AL     | 
|1      |Alaska     |AK    | 
|2      |Arizona    |AZ    | 
|3      |Arkansas   |AR    |
|4      |California  |CA  |

"state-areas.csv" contains the information about the area of each state, with states' names as indicators (examples are shown below).

|       | state/region| ages  | year	|population| 
|----------|-------------|-------|------|----------| 
|0      |AL       |under18   |2012 |1117489.0|
|1      |AL       |total     |2012|4817528.0|
|2      |AL       |under18   |2010|1130966.0|
|3      |AL       |total     |2010|4785570.0|
|4      |AL       |under18    |2011|1125763.0|

"state-population.csv" contains the information about the population of each state, with states' abbreviation names as indicators. Also, for each state in each year, it records the population for people under18 and in total respectively (examples are shown below).

|       | state    | area (sq. mi)  | 
|----------|-----------|---------------|
|0      |Alabama    |52423     | 
|1      |Alaska     |656425    | 
|2      |Arizona    |114006    | 
|3      |Arkansas   |53182   |
|4      |California  |163707  |

In [ ]:
# import the pandas package first 
import pandas as pd

### Question 1

1.1 read the "state-abbrevs.csv", "state-areas.csv" and "state-population.csv" respectively

1.2 print the first 5 rows of the three csv respectively using at least two different ways

1.3 query the information about the 2010 population in total for each state from the dataframe you built, and print the first 5 rows.

Hint: query()

In [ ]:
# 1.1 read the csv

In [ ]:
# 1.2 first 5 rows of state-abbrevs.csv

In [ ]:
# 1.2 first 5 rows of state-population.csv

In [ ]:
# 1.2 first 5 rows of state-areas.csv

In [ ]:
# 1.3 query the information about the 2010 population in total for each state from the dataframe you built, and print the first 5 rows.

### Question 2

Compute the 2010 population density of each state and print the top 5 states in descending order.

Hint 1: population density = population/area

Hint 2: information of population and area are in different dataframe, you may need to merge the population and area dataframes

Hint 3: population and area dataframe have different keys, you may need to find the mapping bewteen population and area dataframe by abbreviation

Hint 4: merge()

Hint 5: sort_values()

In [ ]:
# step 1: select the information of 2010 population

In [ ]:
# step 2: merge area and the abbreviation

In [ ]:
# step 3: check the index in area and population to decide the merge key

In [ ]:
# step 4: merge area and population by the key

In [ ]:
# step 5: check the key in the merged dataframe

In [ ]:
# step 6: compute the population density by the population and area, and add a new column 'density'

In [ ]:
# step 7: sort the density and print the top 5 states

### Example 2: Planets dataset

Planets dataset contains the information about the planets beyond our solar system(from 1989-2014), it is released by NASA.

Data source can be found at https://github.com/mwaskom/seaborn-data

This dataset can be directly loaded by the python package seaborn. Before running the next cells, please make sure that your computer have installed the seaborn package(you can use command "pip install seaborn" to install seaborn in your terminal).

In [ ]:
# loading the planets dataset and print
import seaborn as sns
planets = sns.load_dataset('planets')
planets.head()
# method: detection method
# orbital_period: days
# mass: equal to how many Earths
# distance: light-years from earth
# year: discovery date

### Question 3

3.1 Count discovered planets by "method"

3.2 Add a new colunm "decade", eg. turn 2001,2002,…2009 into 2000

3.3 Change the int type to string type in colunm "decade", eg. "2000"->"2000s"

3.4 Count discovered planets by "decade"

3.5 Group the dataframe by 'method' and 'year' and turn it into a 2-dim table.

3.6 Replace the NaN in question 3.5 into 0

Hint 1: groupby()

Hint 2: count()

Hint 3: turn 2001,2002,…2009 into 2000 by /10 and *10

Hint 4: lamda operation

Hint 5: unstack()

Hint 6: fillna(0)

In [ ]:
# 3.1 count the number by method

In [ ]:
#3.1 Count discovered planets by "method"

In [ ]:
# 3.1 Count discovered planets by "method"

In [ ]:
# 3.2 add a new column "decade"

In [ ]:
# 3.3 Change the int type to string type in colunm "decade", eg. "2000"->"2000s"

In [ ]:
# 3.4 Count discovered planets by "decade"

In [ ]:
# 3.5 Group the dataframe by 'method' and 'year' and turn it into a 2-dim table.

In [ ]:
# 3.6 Replace the NaN in question 3.5 into 0

### Example 3: Birthrate dataset

Birthrate dataset is drawn from the USA Centers for Disease Control and Prevention. It contains the number of births of male and female from 1969 to 2008.

Data source: https://github.com/jakevdp/data-CDCbirths/

### Question 4

4.1 Add a new colunm "decade", eg. turn 2001,2002,…2009 into 2000, and then change the int type to string type in colunm "decade", eg. "2000"->"2000s".

4.2 Count number of births by "gender" and "decade".

4.3 Group the dataframe by "gender" and "decade" and turn it into a 2-dim table.

4.4 Plot the 2-dim table in question 4.3

Hint 1: ".T.plot()".

4.5 Compute the day of week according to the year-month-day data, and add a new colunm "dayofweek".

Hint 2: ".dt.dayofweek" or "lambda x: x.dayofweek" 

4.6 Group the dataframe by "dayofweek" and "decade" and turn it into a 2-dim table.

4.7 Plot the 2-dim table in question 4.3

Hint 3:  ".plot()".

In [ ]:
# read the births dataset from the Internet and print
births = pd.read_csv('https://raw.githubusercontent.com/jakevdp/data-CDCbirths/master/births.csv')
births.head()

In [ ]:
# 4.1 Add a new colunm "decade", eg. turn 2001,2002,…2009 into 2000
# 4.1 and then change the int type to string type in colunm "decade", eg. "2000"->"2000s".

In [ ]:
# 4.2 Count number of births by "gender" and "decade".

In [ ]:
# 4.3 Group the dataframe by "gender" and "decade" and turn it into a 2-dim table.

In [ ]:
# 4.4 Plot the 2-dim table in question 4.3

In [ ]:
# 4.5  Compute the day of week according to the year-month-day data, and add a new colunm "dayofweek".
import numpy as np
# remove outliers via robust sigma-clipping，e.g. mis-reported data like June 31st, etc.
# reference: https://github.com/jakevdp/data-CDCbirths
quartiles = np.percentile(births['births'], [25, 50, 75])
mu = quartiles[1]
sig = 0.74 * (quartiles[2] - quartiles[0])
births = births.query('(births > @mu - 5 * @sig) & (births < @mu + 5 * @sig)')

In [ ]:
# 4.5 Compute the day of week according to the year-month-day data, and add a new colunm "dayofweek".

In [ ]:
# 4.6 Group the dataframe by "dayofweek" and "decade" and turn it into a 2-dim table.

In [ ]:
# 4.7 Plot the 2-dim table in question 4.3

# Additional exercises

### Example 4: UFO dataset

This dataset contains over 80,000 records of UFO sightings dating back as far as 1949.

Content

- Date_time - standardized date and time of sighting

- city - location of UFO sighting

- state/province - the US state or Canadian province, appears blank for other locations

- country - Country of UFO sighting

- UFO_shape - a one word description of the "spacecraft"

- lengthofencounter_seconds - standardized to seconds, length of the observation of the UFO

- described_duration _of_encounter - raw description of the length of the encounter (shows uncertainty to previous column)

- description - text description of the UFO encounter. Warning column is messy, with some curation it could lend itself to some natural language processing and sentiment analysis.

- date_documented - when was the UFO sighting reported

- latitude - latitude

- longitude - longitude

Data source can be found at https://www.kaggle.com/camnugent/ufo-sightings-around-the-world. You need to download the "ufo_sighting_data.csv" in the directory of this jupyter file before running the next cell.

### Question 5 

5.1 Print the data types of each column.

5.2 Convert "date_documented" and "Date_time" columns into datetime type.

5.3 Fix the "ParserError: hour must be in 0..23: 10/11/2006 24:00" error in 6.2 when convert "Date_time" column into datetime type.

Hint 1: Find the index of the rows where 'Date_time' have '24:00' and drop them then convert the column into datetime type.

5.4 get the difference (in days) between 'Date_time' and 'date_documented'e of UFO and add a new colunm "Difference"

5.5 Use the 'Date_time' column as dates to add a new column named 'year'.

5.6 Create a plot to present the number of UFO reports per year (use'Date_time' and 'year').


Hint 1: dtypes

Hint 2: astype('datetime64[ns]')

Hint 3: dt.days

Hint 4: dt.year

Hint 5: plot()

In [ ]:
# read and print the ufo dataset
import pandas as pd
ufo=pd.read_csv('ufo_sighting_data.csv')
ufo.head(1)

In [ ]:
# 5.1 Print the data types of each column

In [ ]:
# 5.2 Convert "date_documented" column into datetime type.

In [ ]:
# 5.2 Convert "Date_time" column into datetime type.

In [ ]:
# 5.3 fix the "ParserError: hour must be in 0..23: 10/11/2006 24:00" error in 6.2 when convert "Date_time" column into datetime type.

In [ ]:
# 5.4 get the difference (in days) between 'Date_time' and 'date_documented'e of UFO and add a new colunm "Difference"

In [ ]:
# 5.5 Use the 'Date_time' column as dates to add a new column named 'year'.

In [1]:
# 5.6 Create a plot to present the number of UFO reports per year (use'Date_time' and 'year').