# Tutorial 5: Pandas Data Structures: Series and DataFrames
TA: ZHANG Wei

E-mail: wzhang472-c@my.cityu.edu.hk

### Introduction
Pandas is an open source library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.


Series is a one-dimensional labeled array capable of holding any data type like integers, strings, floating point numbers, Python objects, etc.


DataFrames is a data structure that organizes data into a two-dimensional table of rows and columns.

### Install
Use the command "pip install pandas" in your terminal to install pandas


### What you can learn on this tutorial
1.How to create series

2.How to check the index of series

3.How to compute the statistical information(mean,sum, etc.) of series

4.How to select information you want in series

5.How to creat DataFrames

6.Basic operations about DataFrames

### Background

Where to eat? It is a question.

Given information about the average spending(HKD), ratings(Ten-points system), walk time from library(Lib, minute) and dormitory (Dor, minute) of (part of) canteens  around CityU in the following table:


| Canteens    | Price  | Rating  | Lib  | Dor| 
|-----------------|--------|-------- |------|----|
| AC1         | 32    | 5     | 3   | 13 |
| AC2         | 42    | 7     | 8   | 9  |
| AC3         | 55    | 8     | 8   | 6  | 
| Mcdonald      | 45    | 7.5    | 5   | 18 | 
| Subway       | 44    | 6     | 6.5  | 10 | 
| Taste        | 50    | 8     | 7   | 20 | 
| FestivalFood   | 65    | 9     | 7   | 20 | 
| HomeyKitchen   | 35    | 4     |16   | 5  | 
|ChineseRestaurant| 90    | 9     | 7   | 15 |
|KebabStation    | 45    | 7.5    | 3   | 13 |  

FYI, catering at CityU: https://www.cityu.edu.hk/zh-hk/directories/catering

In [ ]:
# Hint: You may need to import the related packages first
import pandas as pd

### Questions about Series

#### Question 1:
Create series for Price, Rating, Lib, Dor separately using at least two different ways. Write you code and print your results.

Hints 1:{"AC1":3, "AC2":8, "AC3":8, "Mcdonald":5, "Subway":6.5, "Taste":7, "FestivalFood":7, "HomeyKitchen":16, "ChineseRestaurant":7, "KebabStation":3}

Hints 2: ["AC1", "AC2", "AC3", "Mcdonald", "Subway", "Taste", "FestivalFood", "HomeyKitchen", "ChineseRestaurant", "KebabStation"]

| Canteens    | Price  | Rating  | Lib  | Dor| 
|-----------------|--------|-------- |------|----|
| AC1         | 32    | 5     | 3   | 13 |
| AC2         | 42    | 7     | 8   | 9  |
| AC3         | 55    | 8     | 8   | 6  | 
| Mcdonald      | 45    | 7.5    | 5   | 18 | 
| Subway       | 44    | 6     | 6.5  | 10 | 
| Taste        | 50    | 8     | 7   | 20 | 
| FestivalFood   | 65    | 9     | 7   | 20 | 
| HomeyKitchen   | 35    | 4     |16   | 5  | 
|ChineseRestaurant| 90    | 9     | 7   | 15 |
|KebabStation    | 45    | 7.5    | 3   | 13 |

In [ ]:
# price

In [ ]:
# Rating

In [ ]:
# Dor

In [ ]:
# Lib

#### Question 2
2.1 Suppose you want to query the average price of AC3, based on the series you created, write the code using explicit index 'AC1' and output your results.

2.2 Suppose you want to query the walking time from the dormitory to AC1, based on the series you created, write the code using integer index and output your results.

2.3 Suppose you want to visit all the canteens around CityU from library, based on the series you created, write the code and output the total time you need.

Hint 1: the interger index is started from 0

Hint 2: you may need  to use the function sum() to take the sum of series

| Canteens    | Price  | Rating  | Lib  | Dor| 
|-----------------|--------|-------- |------|----|
| AC1         | 32    | 5     | 3   | 13 |
| AC2         | 42    | 7     | 8   | 9  |
| AC3         | 55    | 8     | 8   | 6  | 
| Mcdonald      | 45    | 7.5    | 5   | 18 | 
| Subway       | 44    | 6     | 6.5  | 10 | 
| Taste        | 50    | 8     | 7   | 20 | 
| FestivalFood   | 65    | 9     | 7   | 20 | 
| HomeyKitchen   | 35    | 4     |16   | 5  | 
|ChineseRestaurant| 90    | 9     | 7   | 15 |
|KebabStation    | 45    | 7.5    | 3   | 13 |

In [ ]:
# 2.1

In [ ]:
# 2.2

In [ ]:
# 2.3

#### Question 3
3.1 Your parent asks you how much it costs to eat at CityU. To make it simple, you are going to tell them the average price of the school canteen. Based on the series you created, write the code and output the average price of canteens.

3.2 If the time from Li building to each canteen is half the time from the dormitory and the library to each canteen, what is the walking time from Li building to each canteen? Based on the series you created, write the code and output the result.

3.3 Suppose you want to go to the nearest canteen from the Li building, which canteens can you choose? Based on the series you created, write the code and output the result.

Hint 1: you may need to use mean() to take the mean value of series

Hint 2: you may need to use add() or "+"

Hint 3: you may need to use idxmin(), return index label of the minimum values.

| Canteens    | Price  | Rating  | Lib  | Dor| 
|-----------------|--------|-------- |------|----|
| AC1         | 32    | 5     | 3   | 13 |
| AC2         | 42    | 7     | 8   | 9  |
| AC3         | 55    | 8     | 8   | 6  | 
| Mcdonald      | 45    | 7.5    | 5   | 18 | 
| Subway       | 44    | 6     | 6.5  | 10 | 
| Taste        | 50    | 8     | 7   | 20 | 
| FestivalFood   | 65    | 9     | 7   | 20 | 
| HomeyKitchen   | 35    | 4     |16   | 5  | 
|ChineseRestaurant| 90    | 9     | 7   | 15 |
|KebabStation    | 45    | 7.5    | 3   | 13 |

In [ ]:
#3.1

In [ ]:
#3.2

In [ ]:
#3.2

In [ ]:
# 3.3

#### Question 4
4.1 If your budget for lunch is 55 hkd, but you want to eat the highest rated canteens, how many options do you have? Based on the series you created, write the code and print the result.

Hint 1: for question 4.1 you need to select the canteens with price <=  55 first, and get their index, then use the index to find the highest rating in the rating series you have built, finally count the number of canteens.

Hint 2: you may need to use max() to take the maximum value of a series

Hint 3: you may need to use len() to take the length of a series

-- -- -- 

4.2 Suppose you are studying in the dormitory today, and your budget for lunch is 50 hkd. In order to set aside more time for study, you want to find the nearest canteens. Where do you decide to eat for the lunch? Based on the series you created, write the code and print the result.

Hint 4: you may need to find a canteen which has price lower than 50, and then choose the nearest one.

Hint 5: you may need to use idxmin() to find the label of the minimum value of series

-- -- --

4.3 (This subquestion is not required) If you plan to eat lunch and dinner near CityU today, and the budget is 82 hkd, you want to eat the canteens with the highest sum of ratings today, where do you decide to eat? Based on the series you created, write the code and print the result.

Hint 6: you may need to use two loops to traverse the price_series

Hint 7: you may need to use if arguement to select the canteens which price sum is lower than 82.

| Canteens    | Price  | Rating  | Lib  | Dor| 
|-----------------|--------|-------- |------|----|
| AC1         | 32    | 5     | 3   | 13 |
| AC2         | 42    | 7     | 8   | 9  |
| AC3         | 55    | 8     | 8   | 6  | 
| Mcdonald      | 45    | 7.5    | 5   | 18 | 
| Subway       | 44    | 6     | 6.5  | 10 | 
| Taste        | 50    | 8     | 7   | 20 | 
| FestivalFood   | 65    | 9     | 7   | 20 | 
| HomeyKitchen   | 35    | 4     |16   | 5  | 
|ChineseRestaurant| 90    | 9     | 7   | 15 |
|KebabStation    | 45    | 7.5    | 3   | 13 |

In [ ]:
# 4.1

In [ ]:
# 4.2

In [ ]:
# 4.2

In [ ]:
# 4.3

### Questions about DataFrames

In [ ]:
# you may need to use the following information first
import pandas as pd 
# create series
price_series = pd.Series((32,42,55,45,44,50,65,35,90,45),["AC1", "AC2", "AC3", "Mcdonald", "Subway", "Taste", "FestivalFood", "HomeyKitchen", "ChineseRestaurant", "KebabStation"])
rating_series = pd.Series((5,7,8,7.5,6,8,9,4,9,7.5),["AC1", "AC2", "AC3", "Mcdonald", "Subway", "Taste", "FestivalFood", "HomeyKitchen", "ChineseRestaurant", "KebabStation"])
Dor_series = pd.Series((13,9,6,18,10,20,20,5,15,13), index=["AC1", "AC2", "AC3", "Mcdonald", "Subway", "Taste", "FestivalFood", "HomeyKitchen", "ChineseRestaurant", "KebabStation"])
Lib_series = pd.Series({"AC1":3, "AC2":8, "AC3":8, "Mcdonald":5, "Subway":6.5, "Taste":7, "FestivalFood":7, "HomeyKitchen":16, "ChineseRestaurant":7, "KebabStation":3})

#### Question 5
Create Dataframe structure using at least two different ways and print your dataframe

| Canteens    | Price  | Rating  | Lib  | Dor| 
|-----------------|--------|-------- |------|----|
| AC1         | 32    | 5     | 3   | 13 |
| AC2         | 42    | 7     | 8   | 9  |
| AC3         | 55    | 8     | 8   | 6  | 
| Mcdonald      | 45    | 7.5    | 5   | 18 | 
| Subway       | 44    | 6     | 6.5  | 10 | 
| Taste        | 50    | 8     | 7   | 20 | 
| FestivalFood   | 65    | 9     | 7   | 20 | 
| HomeyKitchen   | 35    | 4     |16   | 5  | 
|ChineseRestaurant| 90    | 9     | 7   | 15 |
|KebabStation    | 45    | 7.5    | 3   | 13 |

In [ ]:
# use series create dataframe

#### Question 6
6.1 select the first 5 rows in at least two ways based on the dataframe you created,write the code and print your results

6.2 Select the price and rating columns in at least two ways based on the dataframe you created, write the code and print your results

6.3 What canteens from the library with walking time < 10 and rating >7? Based on the dataframe you created, write the code and print the result.

Hint 1: head()

Hint 2: iloc[]

Hint 3: loc[]

| Canteens    | Price  | Rating  | Lib  | Dor| 
|-----------------|--------|-------- |------|----|
| AC1         | 32    | 5     | 3   | 13 |
| AC2         | 42    | 7     | 8   | 9  |
| AC3         | 55    | 8     | 8   | 6  | 
| Mcdonald      | 45    | 7.5    | 5   | 18 | 
| Subway       | 44    | 6     | 6.5  | 10 | 
| Taste        | 50    | 8     | 7   | 20 | 
| FestivalFood   | 65    | 9     | 7   | 20 | 
| HomeyKitchen   | 35    | 4     |16   | 5  | 
|ChineseRestaurant| 90    | 9     | 7   | 15 |
|KebabStation    | 45    | 7.5    | 3   | 13 |

In [ ]:
# 6.1

In [ ]:
# 6.2

In [ ]:
# 6.3

#### Question 7
You just woke up today, and you feel that it is too troublesome to consider where to eat based on price, walking time, and rating, so you decide to combine these three indicators to calculate your own indicator, and decide where to eat breakfast based on this indicator. 

7.1 Please compute your indicator based on this equation: score = Rating×0.1-Price×0.01 -Dor×0.1. Based on the dataframe you created, add a column name "score"  and print the canteens you want to go based on the maximum value of this score.

7.2 You think your score is too subjective, so you want to delete this column in case someone else know your preference(you are a privacy-conscious person).Based on the dataframe you created, delete the column "score" and print new dataframe.

Hint 1: you may need to use function insert() to add a new column

Hint 2: you may need to use function  max() to compute the max value of one column

Hint 3: you may need to use function drop() to delete a column

| Canteens    | Price  | Rating  | Lib  | Dor| 
|-----------------|--------|-------- |------|----|
| AC1         | 32    | 5     | 3   | 13 |
| AC2         | 42    | 7     | 8   | 9  |
| AC3         | 55    | 8     | 8   | 6  | 
| Mcdonald      | 45    | 7.5    | 5   | 18 | 
| Subway       | 44    | 6     | 6.5  | 10 | 
| Taste        | 50    | 8     | 7   | 20 | 
| FestivalFood   | 65    | 9     | 7   | 20 | 
| HomeyKitchen   | 35    | 4     |16   | 5  | 
|ChineseRestaurant| 90    | 9     | 7   | 15 |
|KebabStation    | 45    | 7.5    | 3   | 13 |

In [ ]:
# 7.1

In [ ]:
# 7.2

#### Question 8

There are activities in CityU canteens today. Show your student card in the canteens and you can get a meal coupon for this canteen, and you can consume any set meal. Sadly, these activities take place at the same time and you can only go to one canteen. Which canteens do you want to go ?(considering the rating first and then considering the price). Based on the dataframe you created, write your code and print your results.

Hint 1: you may need to use the function sort_values() to sort the dataframe

| Canteens    | Price  | Rating  | Lib  | Dor| 
|-----------------|--------|-------- |------|----|
| AC1         | 32    | 5     | 3   | 13 |
| AC2         | 42    | 7     | 8   | 9  |
| AC3         | 55    | 8     | 8   | 6  | 
| Mcdonald      | 45    | 7.5    | 5   | 18 | 
| Subway       | 44    | 6     | 6.5  | 10 | 
| Taste        | 50    | 8     | 7   | 20 | 
| FestivalFood   | 65    | 9     | 7   | 20 | 
| HomeyKitchen   | 35    | 4     |16   | 5  | 
|ChineseRestaurant| 90    | 9     | 7   | 15 |
|KebabStation    | 45    | 7.5    | 3   | 13 |

In [ ]:
# solution