# Tutorial 5: Pandas Data Structures: Series and DataFrames
TA: ZHANG Wei

E-mail: wzhang472-c@my.cityu.edu.hk

### Introduction
Pandas is an open source library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.


Series is a one-dimensional labeled array capable of holding any data type like integers, strings, floating point numbers, Python objects, etc.


DataFrames is a data structure that organizes data into a two-dimensional table of rows and columns.

### Install
Use the command "pip install pandas" in your terminal to install pandas


### What you can learn on this tutorial
1.How to create series

2.How to check the index of series

3.How to compute the statistical information(mean,sum, etc.) of series

4.How to select information you want in series

5.How to creat DataFrames

6.Basic operations about DataFrames

### Background

Where to eat? It is a question.

Given information about the average spending(HKD), ratings(Ten-points system), walk time from library(Lib, minute) and dormitory (Dor, minute) of (part of) canteens  around CityU in the following table:


| Canteens    | Price  | Rating  | Lib  | Dor| 
|-----------------|--------|-------- |------|----|
| AC1         | 32    | 5     | 3   | 13 |
| AC2         | 42    | 7     | 8   | 9  |
| AC3         | 55    | 8     | 8   | 6  | 
| Mcdonald      | 45    | 7.5    | 5   | 18 | 
| Subway       | 44    | 6     | 6.5  | 10 | 
| Taste        | 50    | 8     | 7   | 20 | 
| FestivalFood   | 65    | 9     | 7   | 20 | 
| HomeyKitchen   | 35    | 4     |16   | 5  | 
|ChineseRestaurant| 90    | 9     | 7   | 15 |
|KebabStation    | 45    | 7.5    | 3   | 13 |  

FYI, catering at CityU: https://www.cityu.edu.hk/zh-hk/directories/catering

In [1]:
# Hint: You may need to import the related packages first
import pandas as pd

### Questions about Series

#### Question 1:
Create series for Price, Rating, Lib, Dor separately using at least two different ways. Write you code and print your results.

Hints 1:{"AC1":3, "AC2":8, "AC3":8, "Mcdonald":5, "Subway":6.5, "Taste":7, "FestivalFood":7, "HomeyKitchen":16, "ChineseRestaurant":7, "KebabStation":3}

Hints 2: ["AC1", "AC2", "AC3", "Mcdonald", "Subway", "Taste", "FestivalFood", "HomeyKitchen", "ChineseRestaurant", "KebabStation"]

| Canteens    | Price  | Rating  | Lib  | Dor| 
|-----------------|--------|-------- |------|----|
| AC1         | 32    | 5     | 3   | 13 |
| AC2         | 42    | 7     | 8   | 9  |
| AC3         | 55    | 8     | 8   | 6  | 
| Mcdonald      | 45    | 7.5    | 5   | 18 | 
| Subway       | 44    | 6     | 6.5  | 10 | 
| Taste        | 50    | 8     | 7   | 20 | 
| FestivalFood   | 65    | 9     | 7   | 20 | 
| HomeyKitchen   | 35    | 4     |16   | 5  | 
|ChineseRestaurant| 90    | 9     | 7   | 15 |
|KebabStation    | 45    | 7.5    | 3   | 13 |

In [2]:
# price
price = (32,42,55,45,44,50,65,35,90,45)
index=["AC1", "AC2", "AC3", "Mcdonald", "Subway", "Taste", "FestivalFood", "HomeyKitchen", "ChineseRestaurant", "KebabStation"]
price_series = pd.Series(price,index)
price_series

AC1                  32
AC2                  42
AC3                  55
Mcdonald             45
Subway               44
Taste                50
FestivalFood         65
HomeyKitchen         35
ChineseRestaurant    90
KebabStation         45
dtype: int64

In [3]:
# Rating 
rating = (5,7,8,7.5,6,8,9,4,9,7.5)
rating_series = pd.Series(rating)
print("before adding index\n",rating_series)
rating_series.index = ["AC1", "AC2", "AC3", "Mcdonald", "Subway", "Taste", "FestivalFood", "HomeyKitchen", "ChineseRestaurant", "KebabStation"]
print("----------------------------\nafter adding index\n",rating_series)

before adding index
 0    5.0
1    7.0
2    8.0
3    7.5
4    6.0
5    8.0
6    9.0
7    4.0
8    9.0
9    7.5
dtype: float64
----------------------------
after adding index
 AC1                  5.0
AC2                  7.0
AC3                  8.0
Mcdonald             7.5
Subway               6.0
Taste                8.0
FestivalFood         9.0
HomeyKitchen         4.0
ChineseRestaurant    9.0
KebabStation         7.5
dtype: float64

In [4]:
# Dor
Dor_series = pd.Series((13,9,6,18,10,20,20,5,15,13), index=["AC1", "AC2", "AC3", "Mcdonald", "Subway", "Taste", "FestivalFood", "HomeyKitchen", "ChineseRestaurant", "KebabStation"])
Dor_series

AC1                  13
AC2                   9
AC3                   6
Mcdonald             18
Subway               10
Taste                20
FestivalFood         20
HomeyKitchen          5
ChineseRestaurant    15
KebabStation         13
dtype: int64

In [5]:
# Lib
Lib = {"AC1":3, "AC2":8, "AC3":8, "Mcdonald":5, "Subway":6.5, "Taste":7, "FestivalFood":7, "HomeyKitchen":16, "ChineseRestaurant":7, "KebabStation":3}
Lib_series = pd.Series(Lib)
Lib_series

AC1                   3.0
AC2                   8.0
AC3                   8.0
Mcdonald              5.0
Subway                6.5
Taste                 7.0
FestivalFood          7.0
HomeyKitchen         16.0
ChineseRestaurant     7.0
KebabStation          3.0
dtype: float64

#### Question 2
2.1 Suppose you want to query the average price of AC1, based on the series you created, write the code using explicit index 'AC1' and output your results.

2.2 Suppose you want to query the walking time from the dormitory to AC3, based on the series you created, write the code using integer index and output your results.

2.3 Suppose you want to visit all the canteens around CityU from library, based on the series you created, write the code and output the total time you need.

Hint 1: the interger index is started from 0

Hint 2: you may need  to use the function sum() to take the sum of series

| Canteens    | Price  | Rating  | Lib  | Dor| 
|-----------------|--------|-------- |------|----|
| AC1         | 32    | 5     | 3   | 13 |
| AC2         | 42    | 7     | 8   | 9  |
| AC3         | 55    | 8     | 8   | 6  | 
| Mcdonald      | 45    | 7.5    | 5   | 18 | 
| Subway       | 44    | 6     | 6.5  | 10 | 
| Taste        | 50    | 8     | 7   | 20 | 
| FestivalFood   | 65    | 9     | 7   | 20 | 
| HomeyKitchen   | 35    | 4     |16   | 5  | 
|ChineseRestaurant| 90    | 9     | 7   | 15 |
|KebabStation    | 45    | 7.5    | 3   | 13 |

In [6]:
# 2.1
price_series['AC1']

32

In [7]:
# 2.2
Dor_series[2]

6

In [8]:
# 2.3
Lib_series.sum()

70.5

#### Question 3
3.1 Your parent asks you how much it costs to eat at CityU. To make it simple, you are going to tell them the average price of the school canteen. Based on the series you created, write the code and output the average price of canteens.

3.2 If the time from Li building to each canteen is half the time from the dormitory and the library to each canteen, what is the walking time from Li building to each canteen? Based on the series you created, write the code and output the result.

3.3 Suppose you want to go to the nearest canteen from the Li building, which canteens can you choose? Based on the series you created, write the code and output the result.

Hint 1: you may need to use mean() to take the mean value of series

Hint 2: you may need to use add() or "+"

Hint 3: you may need to use idxmin(), return index label of the minimum values.

| Canteens    | Price  | Rating  | Lib  | Dor| 
|-----------------|--------|-------- |------|----|
| AC1         | 32    | 5     | 3   | 13 |
| AC2         | 42    | 7     | 8   | 9  |
| AC3         | 55    | 8     | 8   | 6  | 
| Mcdonald      | 45    | 7.5    | 5   | 18 | 
| Subway       | 44    | 6     | 6.5  | 10 | 
| Taste        | 50    | 8     | 7   | 20 | 
| FestivalFood   | 65    | 9     | 7   | 20 | 
| HomeyKitchen   | 35    | 4     |16   | 5  | 
|ChineseRestaurant| 90    | 9     | 7   | 15 |
|KebabStation    | 45    | 7.5    | 3   | 13 |

In [9]:
#3.1
price_series.mean()

50.3

In [10]:
#3.2
(Dor_series+Lib_series)/2

AC1                   8.00
AC2                   8.50
AC3                   7.00
Mcdonald             11.50
Subway                8.25
Taste                13.50
FestivalFood         13.50
HomeyKitchen         10.50
ChineseRestaurant    11.00
KebabStation          8.00
dtype: float64

In [11]:
#3.2
Li_series = Dor_series
Li_series = Li_series.add(Lib_series)/2
Li_series

AC1                   8.00
AC2                   8.50
AC3                   7.00
Mcdonald             11.50
Subway                8.25
Taste                13.50
FestivalFood         13.50
HomeyKitchen         10.50
ChineseRestaurant    11.00
KebabStation          8.00
dtype: float64

In [12]:
# 3.3
Li_series.idxmin()

'AC3'

#### Question 4
4.1 If your budget for lunch is 55 hkd, but you want to eat the highest rated canteens, how many options do you have? Based on the series you created, write the code and print the result.

Hint 1: for question 4.1 you need to select the canteens with price <=  55 first, and get their index, then use the index to find the highest rating in the rating series you have built, finally count the number of canteens.

Hint 2: you may need to use max() to take the maximum value of a series

Hint 3: you may need to use len() to take the length of a series

-- -- -- 

4.2 Suppose you are studying in the dormitory today, and your budget for lunch is 50 hkd. In order to set aside more time for study, you want to find the nearest canteens. Where do you decide to eat for the lunch? Based on the series you created, write the code and print the result.

Hint 4: you may need to find a canteen which has price lower than 50, and then choose the nearest one.

Hint 5: you may need to use idxmin() to find the label of the minimum value of series

-- -- --

4.3 (This subquestion is not required) If you plan to eat lunch and dinner near CityU today, and the budget is 82 hkd, you want to eat the canteens with the highest sum of ratings today, where do you decide to eat? Based on the series you created, write the code and print the result.

Hint 6: you may need to use two loops to traverse the price_series

Hint 7: you may need to use if arguement to select the canteens which price sum is lower than 82.

| Canteens    | Price  | Rating  | Lib  | Dor| 
|-----------------|--------|-------- |------|----|
| AC1         | 32    | 5     | 3   | 13 |
| AC2         | 42    | 7     | 8   | 9  |
| AC3         | 55    | 8     | 8   | 6  | 
| Mcdonald      | 45    | 7.5    | 5   | 18 | 
| Subway       | 44    | 6     | 6.5  | 10 | 
| Taste        | 50    | 8     | 7   | 20 | 
| FestivalFood   | 65    | 9     | 7   | 20 | 
| HomeyKitchen   | 35    | 4     |16   | 5  | 
|ChineseRestaurant| 90    | 9     | 7   | 15 |
|KebabStation    | 45    | 7.5    | 3   | 13 |

In [13]:
# 4.1
sub_price = price_series[price_series <= 55]  # find the canteens with price <=  55
price_index = sub_price.index                 # index of the sub_price

highest_rating = rating_series[price_index].max()                       # find the highest rating
number_of_options = len(rating_series[rating_series == highest_rating]) # compute the number of options
number_of_options

2

In [14]:
# 4.2 
less_than_50_canteens = price_series[price_series <= 50]# select canteens prices <= 50
less_than_50_index = less_than_50_canteens.index        # take the index of canteens
Dor_series[less_than_50_index].idxmin()                 # choose the label of the minimum value of the Dor_series

'HomeyKitchen'

In [15]:
# 4.2
Dor_series[price_series <= 50].idxmin()

'HomeyKitchen'

In [16]:
# 4.3
rating_max = 0            #initialize the maximum rating sum
canteen_lunch = []        #initialize the lunch place
canteen_dinner = []       #initialize the dinner place
for lunch in price_series.index:       # loop for lunch
    for dinner in price_series.index:  # loop for dinner
        if(price_series[lunch]+price_series[dinner]<=82): # choose two canteens whose price sum is lower than 82
            if(rating_series[lunch]+rating_series[dinner]>=rating_max): 
                rating_max = rating_series[lunch]+rating_series[dinner] # record the maximum rating sum
                canteen_lunch = lunch                                   # record the lunch place
                canteen_dinner = dinner                                 # record the dinner place

print(canteen_lunch)  #print your result
print(canteen_dinner)

Taste
AC1

In [17]:
price_series.index

Index(['AC1', 'AC2', 'AC3', 'Mcdonald', 'Subway', 'Taste', 'FestivalFood',
       'HomeyKitchen', 'ChineseRestaurant', 'KebabStation'],
      dtype='object')

In [18]:
for lunch in price_series.index: 
    print(lunch)

AC1
AC2
AC3
Mcdonald
Subway
Taste
FestivalFood
HomeyKitchen
ChineseRestaurant
KebabStation

### Questions about DataFrames

In [19]:
# you may need to use the following information first
import pandas as pd 
# create series
price_series = pd.Series((32,42,55,45,44,50,65,35,90,45),["AC1", "AC2", "AC3", "Mcdonald", "Subway", "Taste", "FestivalFood", "HomeyKitchen", "ChineseRestaurant", "KebabStation"])
rating_series = pd.Series((5,7,8,7.5,6,8,9,4,9,7.5),["AC1", "AC2", "AC3", "Mcdonald", "Subway", "Taste", "FestivalFood", "HomeyKitchen", "ChineseRestaurant", "KebabStation"])
Dor_series = pd.Series((13,9,6,18,10,20,20,5,15,13), index=["AC1", "AC2", "AC3", "Mcdonald", "Subway", "Taste", "FestivalFood", "HomeyKitchen", "ChineseRestaurant", "KebabStation"])
Lib_series = pd.Series({"AC1":3, "AC2":8, "AC3":8, "Mcdonald":5, "Subway":6.5, "Taste":7, "FestivalFood":7, "HomeyKitchen":16, "ChineseRestaurant":7, "KebabStation":3})

#### Question 5
Create Dataframe structure using at least two different ways and print your dataframe

| Canteens    | Price  | Rating  | Lib  | Dor| 
|-----------------|--------|-------- |------|----|
| AC1         | 32    | 5     | 3   | 13 |
| AC2         | 42    | 7     | 8   | 9  |
| AC3         | 55    | 8     | 8   | 6  | 
| Mcdonald      | 45    | 7.5    | 5   | 18 | 
| Subway       | 44    | 6     | 6.5  | 10 | 
| Taste        | 50    | 8     | 7   | 20 | 
| FestivalFood   | 65    | 9     | 7   | 20 | 
| HomeyKitchen   | 35    | 4     |16   | 5  | 
|ChineseRestaurant| 90    | 9     | 7   | 15 |
|KebabStation    | 45    | 7.5    | 3   | 13 |

In [20]:
# use series create dataframe
CityU_Canteens = pd.DataFrame({'price':price_series,'rating':rating_series,'Dor': Dor_series,'Lib':Lib_series})
CityU_Canteens

                   price  rating  Dor   Lib
AC1                   32     5.0   13   3.0
AC2                   42     7.0    9   8.0
AC3                   55     8.0    6   8.0
Mcdonald              45     7.5   18   5.0
Subway                44     6.0   10   6.5
Taste                 50     8.0   20   7.0
FestivalFood          65     9.0   20   7.0
HomeyKitchen          35     4.0    5  16.0
ChineseRestaurant     90     9.0   15   7.0
KebabStation          45     7.5   13   3.0

In [21]:
CityU_Canteens = pd.DataFrame(
    {   "price": (32,42,55,45,44,50,65,35,90,45),
        "rating": (5,7,8,7.5,6,8,9,4,9,7.5),
        "Dor": (13,9,6,18,10,20,20,5,15,13),
        "Lib": (3,8,9,5,6.5,7,7,16,7,3),
    })
CityU_Canteens.index=["AC1", "AC2", "AC3", "Mcdonald", "Subway", "Taste", "FestivalFood", "HomeyKitchen", "ChineseRestaurant", "KebabStation"]
CityU_Canteens

                   price  rating  Dor   Lib
AC1                   32     5.0   13   3.0
AC2                   42     7.0    9   8.0
AC3                   55     8.0    6   9.0
Mcdonald              45     7.5   18   5.0
Subway                44     6.0   10   6.5
Taste                 50     8.0   20   7.0
FestivalFood          65     9.0   20   7.0
HomeyKitchen          35     4.0    5  16.0
ChineseRestaurant     90     9.0   15   7.0
KebabStation          45     7.5   13   3.0

In [22]:
CityU_Canteens  = pd.DataFrame({'price':(32,42,55,45,44,50,65,35,90,45)})
CityU_Canteens['rating'] = [5,7,8,7.5,6,8,9,4,9,7.5]
CityU_Canteens['Dor'] = [13,9,6,18,10,20,20,5,15,13]
CityU_Canteens['Lib'] = [3,8,9,5,6.5,7,7,16,7,3]
CityU_Canteens.index = ["AC1", "AC2", "AC3", "Mcdonald", "Subway", "Taste", "FestivalFood", "HomeyKitchen", "ChineseRestaurant", "KebabStation"]

CityU_Canteens

                   price  rating  Dor   Lib
AC1                   32     5.0   13   3.0
AC2                   42     7.0    9   8.0
AC3                   55     8.0    6   9.0
Mcdonald              45     7.5   18   5.0
Subway                44     6.0   10   6.5
Taste                 50     8.0   20   7.0
FestivalFood          65     9.0   20   7.0
HomeyKitchen          35     4.0    5  16.0
ChineseRestaurant     90     9.0   15   7.0
KebabStation          45     7.5   13   3.0

#### Question 6
6.1 select the first 5 rows in at least two ways based on the dataframe you created,write the code and print your results

6.2 Select the price and rating columns in at least two ways based on the dataframe you created, write the code and print your results

6.3 What canteens from the library with walking time < 10 and rating >7? Based on the dataframe you created, write the code and print the result.

Hint 1: head()

Hint 2: iloc[]

Hint 3: loc[]

| Canteens    | Price  | Rating  | Lib  | Dor| 
|-----------------|--------|-------- |------|----|
| AC1         | 32    | 5     | 3   | 13 |
| AC2         | 42    | 7     | 8   | 9  |
| AC3         | 55    | 8     | 8   | 6  | 
| Mcdonald      | 45    | 7.5    | 5   | 18 | 
| Subway       | 44    | 6     | 6.5  | 10 | 
| Taste        | 50    | 8     | 7   | 20 | 
| FestivalFood   | 65    | 9     | 7   | 20 | 
| HomeyKitchen   | 35    | 4     |16   | 5  | 
|ChineseRestaurant| 90    | 9     | 7   | 15 |
|KebabStation    | 45    | 7.5    | 3   | 13 |

In [23]:
# 6.1
CityU_Canteens.head(5)
CityU_Canteens.iloc[:5]            # implicitly uses the index, only integer
CityU_Canteens.loc['AC1':'Subway'] # explicitly uses the index

          price  rating  Dor  Lib
AC1          32     5.0   13  3.0
AC2          42     7.0    9  8.0
AC3          55     8.0    6  9.0
Mcdonald     45     7.5   18  5.0
Subway       44     6.0   10  6.5

In [24]:
# 6.2 
CityU_Canteens.iloc[:,[0, 1]]             # implicitly uses the index
CityU_Canteens.loc[:,["price", "rating"]] # explicitly uses the index
CityU_Canteens[['price', 'rating']]       # dict

                   price  rating
AC1                   32     5.0
AC2                   42     7.0
AC3                   55     8.0
Mcdonald              45     7.5
Subway                44     6.0
Taste                 50     8.0
FestivalFood          65     9.0
HomeyKitchen          35     4.0
ChineseRestaurant     90     9.0
KebabStation          45     7.5

In [25]:
# 6.3 
CityU_Canteens[(CityU_Canteens['Lib']<10) & (CityU_Canteens["rating"]>7)]

                   price  rating  Dor  Lib
AC3                   55     8.0    6  9.0
Mcdonald              45     7.5   18  5.0
Taste                 50     8.0   20  7.0
FestivalFood          65     9.0   20  7.0
ChineseRestaurant     90     9.0   15  7.0
KebabStation          45     7.5   13  3.0

#### Question 7
You just woke up today, and you feel that it is too troublesome to consider where to eat based on price, walking time, and rating, so you decide to combine these three indicators to calculate your own indicator, and decide where to eat breakfast based on this indicator. 

7.1 Please compute your indicator based on this equation: score = Rating×0.5-Price×0.02 -Dor×0.05. Based on the dataframe you created, add a column name "score"  and print the canteens you want to go based on the maximum value of this score.

7.2 You think your score is too subjective, so you want to delete this column in case someone else know your preference(you are a privacy-conscious person).Based on the dataframe you created, delete the column "score" and print new dataframe.

Hint 1: you may need to use function insert() to add a new column

Hint 2: you may need to use function  max() to compute the max value of one column

Hint 3: you may need to use function drop() to delete a column

| Canteens    | Price  | Rating  | Lib  | Dor| 
|-----------------|--------|-------- |------|----|
| AC1         | 32    | 5     | 3   | 13 |
| AC2         | 42    | 7     | 8   | 9  |
| AC3         | 55    | 8     | 8   | 6  | 
| Mcdonald      | 45    | 7.5    | 5   | 18 | 
| Subway       | 44    | 6     | 6.5  | 10 | 
| Taste        | 50    | 8     | 7   | 20 | 
| FestivalFood   | 65    | 9     | 7   | 20 | 
| HomeyKitchen   | 35    | 4     |16   | 5  | 
|ChineseRestaurant| 90    | 9     | 7   | 15 |
|KebabStation    | 45    | 7.5    | 3   | 13 |

In [26]:
# 7.1 
score = CityU_Canteens["rating"]*0.5-CityU_Canteens["price"]*0.02-CityU_Canteens["Dor"]*0.05 # compute the score
CityU_Canteens.insert(4,"score",score)                     # insert the score column
max_score = CityU_Canteens["score"].max()                  # take the max value of the score
CityU_Canteens[CityU_Canteens["score"]==max_score].index   # find the Canteen with the max score

Index(['AC3'], dtype='object')

In [27]:
CityU_Canteens

                   price  rating  Dor   Lib  score
AC1                   32     5.0   13   3.0   1.21
AC2                   42     7.0    9   8.0   2.21
AC3                   55     8.0    6   9.0   2.60
Mcdonald              45     7.5   18   5.0   1.95
Subway                44     6.0   10   6.5   1.62
Taste                 50     8.0   20   7.0   2.00
FestivalFood          65     9.0   20   7.0   2.20
HomeyKitchen          35     4.0    5  16.0   1.05
ChineseRestaurant     90     9.0   15   7.0   1.95
KebabStation          45     7.5   13   3.0   2.20

In [28]:
# 7.2
print("before deleting score\n",CityU_Canteens)
CityU_Canteens = CityU_Canteens.drop("score", axis=1)
print("\n---------------------------\nafter deleting score\n",CityU_Canteens)

before deleting score
                    price  rating  Dor   Lib  score
AC1                   32     5.0   13   3.0   1.21
AC2                   42     7.0    9   8.0   2.21
AC3                   55     8.0    6   9.0   2.60
Mcdonald              45     7.5   18   5.0   1.95
Subway                44     6.0   10   6.5   1.62
Taste                 50     8.0   20   7.0   2.00
FestivalFood          65     9.0   20   7.0   2.20
HomeyKitchen          35     4.0    5  16.0   1.05
ChineseRestaurant     90     9.0   15   7.0   1.95
KebabStation          45     7.5   13   3.0   2.20

---------------------------
after deleting score
                    price  rating  Dor   Lib
AC1                   32     5.0   13   3.0
AC2                   42     7.0    9   8.0
AC3                   55     8.0    6   9.0
Mcdonald              45     7.5   18   5.0
Subway                44     6.0   10   6.5
Taste                 50     8.0   20   7.0
FestivalFood          65     9.0   20   7.0
HomeyKitchen          35     4.0    5  16.0
ChineseRestaurant     90     9.0   15   7.0
KebabStation          45     7.5   13   3.0

#### Question 8

There are activities in CityU canteens today. Show your student card in the canteens and you can get a meal coupon for this canteen, and you can consume any set meal. Sadly, these activities take place at the same time and you can only go to one canteen. Which canteens do you want to go ?(considering the rating first and then considering the price). Based on the dataframe you created, write your code and print your results.

Hint 1: you may need to use the function sort_values() to sort the dataframe

| Canteens    | Price  | Rating  | Lib  | Dor| 
|-----------------|--------|-------- |------|----|
| AC1         | 32    | 5     | 3   | 13 |
| AC2         | 42    | 7     | 8   | 9  |
| AC3         | 55    | 8     | 8   | 6  | 
| Mcdonald      | 45    | 7.5    | 5   | 18 | 
| Subway       | 44    | 6     | 6.5  | 10 | 
| Taste        | 50    | 8     | 7   | 20 | 
| FestivalFood   | 65    | 9     | 7   | 20 | 
| HomeyKitchen   | 35    | 4     |16   | 5  | 
|ChineseRestaurant| 90    | 9     | 7   | 15 |
|KebabStation    | 45    | 7.5    | 3   | 13 |

In [29]:
sorted_rating = CityU_Canteens.sort_values(by="rating",ascending=False) #sort the rating list by descending order
sorted_price = CityU_Canteens.sort_values(by="price",ascending=False) #sort the price list by descending order
sorted_price.index[0] #print the canteen you want to go

'ChineseRestaurant'