# Tutorial 4 - List Comprehension, Numpy, and Lambda Functions

### Fun Fact: Numpy stands for Numerical Python

#### TA: Collin Sakal

In [7]:
# Import Numpy
import numpy as np

# Tutorial Overview

In this tutorial we will generate data on a pretend class of students and analyze the data using list comprehension techniques and numpy functions. Lastly, we will review and implement lambda functions.

### Reference table for this tutorial

If you get stuck on any of the following problems please reference the cell below.

In [8]:
# Creating lists
example_list = [1,2,3,4]

# Appending Lists
example_list.append(5)

# Iterating over a list
for i in example_list:
    print(i)

# Creating arrays
example_array = np.array([3,4,6,2,6,7]) 

# Sorting an array
example_array.sort() # Will sort elements from smallest to largest

# Slice an array: values greater than 4
example_array[example_array > 4]

# Mathematical operations
example_array.max() # maximum 
example_array.min() # minimum 
example_array.mean() # average (mean) 
example_array.std() # standard deviation
example_array**2 # square (^2) every element 

# Slice then apply a mathematical operation
example_array[example_array > 3].mean() # average of all values greater than 3

# Number generator
normal_generator_example = np.random.normal(loc = 0, scale = 1, size = 10) # Mean = 0, standard deviation = 1, size = 10

# Creating a lambda function
example_lambda = lambda x: x + 10 # takes input 'x' and returns x + 10

1
2
3
4
5

### (1)
**Consider a list called "TA_names" that contains the names of Teaching Assistants for the class. Suppose a new TA, Jocelyn, joins the class. Add her name to the list of TAs**

In [9]:
TA_names = ["Collin", "Wei", "Cheng", "Tong", "Muhammad", "Katya", "Isabella"]

# Write your code below
TA_names.append("Jocelyn")
print(TA_names)

['Collin', 'Wei', 'Cheng', 'Tong', 'Muhammad', 'Katya', 'Isabella', 'Jocelyn']

### (2)
**Suppose we want to determine which TAs have the letter 'a' in their name. Write a for loop that creates a new list called 'a_names' that contains the TA names with the letter 'a' in them. Print the new list.** 

**HINT:** You may want to consider the append function to add new names to the empty list

In [10]:
a_names = []

# Write your code below

# For loop method
for name in TA_names:
    if 'a' in name:
        a_names.append(name)
        
print(a_names)

# List comprehension method
a_names = [name for name in TA_names if 'a' in name]

print(a_names)

['Muhammad', 'Katya', 'Isabella']
['Muhammad', 'Katya', 'Isabella']

### (3)
**Assume there are 100 students in the class. Generate a Numpy array called "heights" from a normal distribution with mean 170 and standard deviation 12. Print the array.**

**HINT:** in the relevant numpy function the following arguments will be needed:
1. loc = mean
2. scale = standard deviation
3. size = amount of numbers to generate

**NOTE:** We will use centimeters as the unit of measurement for the heights

In [11]:
# Random seed so we all get the same answers
np.random.seed(19970507)

# Write your code below
heights = np.random.normal(loc = 170, scale = 12, size = 100)
print(heights)

[167.2303896  187.1420392  156.79588463 155.98277818 155.65260912
 159.89924123 169.45720057 166.4671893  179.35740101 150.16062687
 156.24863105 176.54273944 199.90881932 174.47111553 162.12169265
 166.37594491 179.1024735  175.15318454 185.71592343 169.85308486
 156.06650799 173.61071872 162.13448903 158.54626666 171.71140755
 152.18528936 166.24255601 157.00377355 169.99504994 152.00595681
 176.98321157 155.90816159 162.61692041 172.61156684 178.81057012
 188.66154772 161.41881177 171.47009684 156.49621242 174.69908346
 163.19659788 147.70317112 162.48620239 147.08107189 180.31734379
 155.42298112 191.80774392 180.4211941  164.47577193 179.54686845
 184.42679522 168.44857812 194.19282069 179.73869958 177.4359035
 174.98235714 154.34814084 168.56156784 175.49955899 181.18946635
 155.48572514 191.97856411 165.79060367 172.06013624 172.22005823
 178.63158886 167.40159563 152.08883216 160.31891696 163.30096553
 182.12257507 159.01223709 162.96487557 173.67484232 162.85311016
 159.49225166 165.36257772 173.22479187 187.80718164 179.37326466
 168.61226388 178.19375473 185.9586404  193.47476503 186.34934325
 159.67263669 165.19691188 170.40112398 178.14146563 183.81580297
 166.8718303  150.48713077 175.35952758 161.52554736 172.75146998
 179.58794974 167.27047413 171.41589424 156.1339395  165.55183626]

### (4)
**Sort the heights array and print it again, what are the heights of the shortest and tallest students in the class?**

In [12]:
# Write your code below
heights.sort()
print(heights)

# Shortest = 147.1
# Tallest = 199.9

[147.08107189 147.70317112 150.16062687 150.48713077 152.00595681
 152.08883216 152.18528936 154.34814084 155.42298112 155.48572514
 155.65260912 155.90816159 155.98277818 156.06650799 156.1339395
 156.24863105 156.49621242 156.79588463 157.00377355 158.54626666
 159.01223709 159.49225166 159.67263669 159.89924123 160.31891696
 161.41881177 161.52554736 162.12169265 162.13448903 162.48620239
 162.61692041 162.85311016 162.96487557 163.19659788 163.30096553
 164.47577193 165.19691188 165.36257772 165.55183626 165.79060367
 166.24255601 166.37594491 166.4671893  166.8718303  167.2303896
 167.27047413 167.40159563 168.44857812 168.56156784 168.61226388
 169.45720057 169.85308486 169.99504994 170.40112398 171.41589424
 171.47009684 171.71140755 172.06013624 172.22005823 172.61156684
 172.75146998 173.22479187 173.61071872 173.67484232 174.47111553
 174.69908346 174.98235714 175.15318454 175.35952758 175.49955899
 176.54273944 176.98321157 177.4359035  178.14146563 178.19375473
 178.63158886 178.81057012 179.1024735  179.35740101 179.37326466
 179.54686845 179.58794974 179.73869958 180.31734379 180.4211941
 181.18946635 182.12257507 183.81580297 184.42679522 185.71592343
 185.9586404  186.34934325 187.1420392  187.80718164 188.66154772
 191.80774392 191.97856411 193.47476503 194.19282069 199.90881932]

### (5)
**Write code that returns the heights of the shortest and tallest students in the class WITHOUT sorting or printing the entire array**

**HINT:** the tallest person will have the MAXIMUM height in the array and the shortest person will have the MINIMUM height

In [13]:
# Write your code below
print("The tallest person in the class has a height of ", heights.max(), "centimeters")
print("The shortest person in the class has a height of ", heights.min(), "cenitmeters")

The tallest person in the class has a height of  199.90881931792748 centimeters
The shortest person in the class has a height of  147.08107189215664 cenitmeters

### (6)
**What is the average height of students in the class?**

In [14]:
# Write your code below
print("The average height of students in the class is: ", heights.mean(), "centimeters")

The average height of students in the class is:  169.66037004727062 centimeters

### (7)
**Create an array called "heights_m" that contains the heights of everyone in the class in meters. Print the average of the new array.**

**HINT**: To get height in meters, divide height in cm by 100

In [15]:
# Write your code below
heights_m = heights/100
print("The average height of the class in meters is: ", heights_m.mean(), "m")

The average height of the class in meters is:  1.6966037004727061 m

### (8)
**Lets generate the weights (unit of measurement: kilograms - kg) for the students in the class from a normal distribution with mean 70kg and standard deviation 5kg.** 

**Write code that returns the weights of students who weigh more than 65kg**

**HINT:** You need to SLICE the array

In [16]:
# Random seed so we all get the same answers
np.random.seed(19970507)

# Generating weights
weights = np.random.normal(loc = 70, scale = 5, size = 100)

# Write your code below
weights[weights > 65]

array([68.84599567, 77.14251633, 65.79135051, 69.77383357, 68.52799554,
       73.89891709, 72.72614144, 82.46200805, 71.8629648 , 66.71737194,
       68.48997704, 73.79269729, 72.14716023, 76.54830143, 69.93878536,
       71.50446613, 66.72270376, 65.22761111, 70.71308648, 68.43439834,
       69.99793747, 72.90967149, 66.92371684, 71.08815285, 73.67107088,
       77.77564489, 66.4245049 , 70.61254035, 71.95795144, 67.16524911,
       66.86925099, 74.29889324, 79.08655997, 74.34216421, 67.6982383 ,
       73.97786185, 76.01116468, 69.35357422, 80.08034196, 74.05779149,
       73.09829312, 72.07598214, 69.40065327, 72.29148291, 74.66227765,
       79.15773505, 68.24608486, 70.8583901 , 70.92502426, 73.59649536,
       68.91733151, 65.9662154 , 67.20873564, 75.05107295, 65.42176545,
       67.06869815, 71.5311843 , 67.02212923, 65.62177152, 68.06774072,
       71.34366328, 77.41965902, 73.90552694, 69.42177662, 73.41406447,
       76.6494335 , 79.78115209, 76.81222636, 65.69693195, 67.99871328,
       70.16713499, 73.39227735, 75.75658457, 68.69659596, 72.23313649,
       66.46897807, 71.14644583, 73.99497906, 68.86269755, 70.58995594,
       68.14659844])

### (9)
**What is the average weight of students who weigh more than 65kg?**

**HINT:** you can use .mean() after you slice an array

In [17]:
# Write your code below
print("The average weight of students who weigh more than 80kg is: ", weights[weights>65].mean(), "kg")

The average weight of students who weigh more than 80kg is:  71.40318714309711 kg

### (10)
**Body Mass Index (BMI) is an estimate of the amount of body fat a person has. The formula for BMI is BMI =               weight / height^2 such that weight is measured in kg and height in meters. Please write code that does the following:** 

1. Creates an array called BMI that contains the BMI of everyone in the class.
2. Prints the average, maximum, minimum, and standard deviation of the BMIs in the class.

**HINT** Remember to use heights_m (which contains heights in meters)

In [18]:
# Write your code below
BMI = weights/heights_m**2

print("The average BMI in the class is:",BMI.mean())
print("The minimum BMI in the class is:", BMI.min())
print("The maximum BMI in the class is:", BMI.max())
print("The standard deviation of the BMIs in the class is:", BMI.std())

The average BMI in the class is: 24.582794631676716
The minimum BMI in the class is: 17.03023720020639
The maximum BMI in the class is: 35.360155166332554
The standard deviation of the BMIs in the class is: 3.577681098831622

# Review of Lambda Functions

We've previously seen how to create functions such as the one below:

In [19]:
def add_five(x):
    """This functions adds 5 to the input number"""
    result = x + 5
    return result

But we can also define functions using lambda in a more concise way

In [20]:
add_five_lambda = lambda x: x + 5

 Note that both of these functions will return the same result

In [21]:
print(add_five(9))
print(add_five_lambda(9))

14
14

Lambda functions can also take multiple arguments. For example, consider a function that calculates the sum of two inputs

In [22]:
sum_lambda = lambda x, y: x + y

sum_lambda(10, 6)

16

## (11)
**Lets create a function that takes a person's height (in meters) and weight (in kg) and returns their BMI using the standard function form**

In [23]:
def bmi_calculator(weight, height):
    """This function returns a person's BMI given their weight (in kg) and height (in meters)"""
    bmi = weight/height**2
    return bmi

bmi_calculator(weight = 77, height = 1.83) # bmi_calculator(77, 1.83) works as well

22.99262444384723

**Re-create bmi_calculator using lambda formatting and calculate the BMI of a person with a weight of 77kg and a height of 1.83m**

**HINT:** recall BMI = weight/height^2 such that weight is in kg and height is in meters. Your answer should be the same as the result from the bmi_calculator example above.

In [24]:
# Write your code below
bmi_calculator_lambda = lambda weight, height: weight/height**2

bmi_calculator_lambda(weight = 77, height = 1.83) # bmi_calculator_lambda(77, 1.83) works as well

22.99262444384723