## Timing and Profiling

In [22]:
# line magic and cell magic examples
%timeit sum(range(100))

701 ns ± 1.5 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

Note: %%cell magic must be in the first line:

In [23]:
% % timeit
total = 0
for i in range(100):
    for j in range(100):
        # print(i * (-1) ** j) #if you want to check the output
        total += i * (-1) ** j

2.02 ms ± 19.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [24]:
#time and timeit
import random
L = [random.random() for i in range(100000)]
%timeit L.sort()

318 µs ± 4.96 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [25]:
import random
L = [random.random() for i in range(100000)]
print("to sort an unsorted list:")
%time L.sort()
print("to sort a sorted list:")
%time L.sort()

to sort an unsorted list:
CPU times: user 13.3 ms, sys: 0 ns, total: 13.3 ms
Wall time: 13.3 ms
to sort a sorted list:
CPU times: user 320 µs, sys: 0 ns, total: 320 µs
Wall time: 322 µs

Note that `timeit` is faster:

In [26]:
% % time
total = 0
for i in range(1000):
    for j in range(1000):
        total += i * (-1) ** j

CPU times: user 254 ms, sys: 0 ns, total: 254 ms
Wall time: 254 ms

In [27]:
% % timeit
total = 0
for i in range(1000):
    for j in range(1000):
        total += i * (-1) ** j

211 ms ± 578 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

### Profiler

In [28]:
def sum_of_lists(N):
    total = 0
    for i in range(6):
        L = [j ^ (j >> i) for j in range(N)]  # bitewise operators as an example
        total += sum(L)
    return total


%prun sum_of_lists(1000000)

         16 function calls in 0.524 seconds

   Ordered by: internal time

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        6    0.463    0.077    0.463    0.077 1576088060.py:4(<listcomp>)
        6    0.031    0.005    0.031    0.005 {built-in method builtins.sum}
        1    0.023    0.023    0.517    0.517 1576088060.py:1(sum_of_lists)
        1    0.007    0.007    0.524    0.524 <string>:1(<module>)
        1    0.000    0.000    0.524    0.524 {built-in method builtins.exec}
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}

In [1]:
# check the function details
# %prun?

### line profiler

In [30]:
# pip install line_profiler

In [31]:
# line profiler
# pip install line_profiler
%load_ext line_profiler

The line_profiler extension is already loaded. To reload it, use:
  %reload_ext line_profiler

In [32]:
%lprun - f sum_of_lists sum_of_lists(5000)

Timer unit: 1e-06 s

Total time: 0.006001 s
File: /tmp/ipykernel_150832/1576088060.py
Function: sum_of_lists at line 1

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     1                                           def sum_of_lists(N):
     2         1          2.0      2.0      0.0      total = 0
     3         7          3.0      0.4      0.0      for i in range(6):
     4         6       5820.0    970.0     97.0          L = [j ^ (j >> i) for j in range(N)] ##bitewise operators as an example
     5         6        176.0     29.3      2.9          total += sum(L)
     6         1          0.0      0.0      0.0      return total

In [2]:
# check the function details
# %lprun?

In [34]:
# twofunctions
def func1(a, b):
    return a/b


def func2(c):
    a = c-1
    b = c
    return func1(a, b)


# only func1 within func2
%lprun - f func1 func2(100)

Timer unit: 1e-06 s

Total time: 1e-06 s
File: /tmp/ipykernel_150832/2035244862.py
Function: func1 at line 2

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     2                                           def func1(a,b):
     3         1          1.0      1.0    100.0      return a/b

In [35]:
%lprun - f func2 func2(100)

Timer unit: 1e-06 s

Total time: 3e-06 s
File: /tmp/ipykernel_150832/2035244862.py
Function: func2 at line 4

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     4                                           def func2(c):
     5         1          1.0      1.0     33.3      a = c-1
     6         1          1.0      1.0     33.3      b = c
     7         1          1.0      1.0     33.3      return func1(a,b)

### memory profiler

In [36]:
# pip install memory_profiler

Collecting memory_profiler
  Using cached memory_profiler-0.60.0-py3-none-any.whl
Requirement already satisfied: psutil in /home/alex/anaconda3/envs/dlearn/lib/python3.10/site-packages (from memory_profiler) (5.8.0)
Installing collected packages: memory-profiler
Successfully installed memory-profiler-0.60.0
Note: you may need to restart the kernel to use updated packages.

In [37]:
# pip install memory_profiler
%load_ext memory_profiler

The memory_profiler extension is already loaded. To reload it, use:
  %reload_ext memory_profiler

In [38]:
def sum_of_lists(N):
    total = 0
    for i in range(5):
        L = [j ^ (j >> i) for j in range(N)]
        total += sum(L)
    return total


%memit sum_of_lists(1000000)

peak memory: 139.33 MiB, increment: 62.32 MiB

---

## Python: dynamic typing

In [39]:
# no specific declaration of variable types

# /* C code * /
# int result = 0
# for (int i=0
#      i < 100
#      i++){
#     result += i
# }

# python
result = 0
for i in range(100):
result += i

# /* C code * /
# int x = 4
# x = "four"
# // FAILS

# Python code
x = 4
x = "four"

SyntaxError: invalid syntax (703380305.py, line 3)

In [40]:
L = list(range(10))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
type(L[0])

int

In [42]:
L = [True, "2", 3.0, 4]
[type(item) for item in L]

[bool, str, float, int]

## Python: Types and Sequences

Use `type` to return the object type:

In [43]:
type("This is a string")

str

In [44]:
type(None)

NoneType

In [45]:
type(1)

int

In [46]:
type(1.0)

float

In [47]:
def add_numbers(x, y):
    return x + y


type(add_numbers)

function

Tuples are an immutable data structure (cannot be altered).

In [48]:
x = (1, 'a', 2, 'b')
type(x)

tuple

In [49]:
x[0]

1

In [50]:
x[0] = 3

TypeError: 'tuple' object does not support item assignment

Lists are mutable.

In [51]:
x = [1, 'a', 2, 'b']

In [52]:
print(type(x))
len(x)

<class 'list'>

4

In [53]:
x[3]

'b'

In [54]:
x[3] = 1
x

[1, 'a', 2, 1]

Use `append` to append an object to a list.

In [55]:
x.append(4.5)

In [56]:
print(x)  # no output

[1, 'a', 2, 1, 4.5]

How to loop through each item in a list:

In [57]:
for i in x:
    print(i)

1
a
2
1
4.5

Alternatively, use the indexing operator:

In [58]:
i = 0
while (i != len(x)):
    print(x[i], end=' ')  # change the end
    i = i + 1

1 a 2 1 4.5

In [3]:
# print?

In [60]:
print(x[0], x[1], sep="")

1a

List concatenation:

In [61]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

List repetition:

In [62]:
[1, 2]*3

[1, 2, 1, 2, 1, 2]

Use the `in` operator to check if something is inside a list.

In [63]:
4 in [1, 2, 3]

False

#### Strings and string slicing:

In [64]:
x = 'This is a string'
print(x[0])  # first character
print(x[0:1])  # first character; the ending is index [1]/the 2nd character, but it will not be included
print(x[0:3])  # first three characters

T
T
Thi

**Notice the slicing rule: <br>
The first index is included in the slice, while the second index is NOT included in the slice.**

The last element:

In [65]:
x[-1]

'g'

The slice starting from the 5th element from the end and stopping before the 2nd element from the end.

In [66]:
print(x[-5:-2])

tri

In [67]:
print(x[-11:-7])

is a

The slice from the beginning of the string and stopping before the index [3] or the 4th element.

In [68]:
x[:3]

'Thi'

The slice starting from the 5th element of the string to the end.

In [69]:
x[4:]

' is a string'

String concatenation:

In [70]:
firstname = 'Elon'
lastname = 'Musk'

print(firstname + ' ' + lastname)
print(firstname*3)
print((firstname+lastname+" ")*3)

Elon Musk
ElonElonElon
ElonMusk ElonMusk ElonMusk

In [71]:
print('El' in firstname)
print('M' in firstname)

True
False

A list split on a specific character:

In [4]:
# str.split?

In [73]:
'This is a python course'.split(' ')

['This', 'is', 'a', 'python', 'course']

In [74]:
first = 'This is a python course'.split(' ')[0]  # the first element of the list
last = 'This is a python course'.split(' ')[-1]  # the last element of the list
print(first)
print(last)

This
course

In [75]:
'This is a python course'.split('s')

['Thi', ' i', ' a python cour', 'e']

Concatenation only works for strings:

In [76]:
'iphone' + 14

TypeError: can only concatenate str (not "int") to str

In [77]:
'iphone' + str(14)

'iphone14'

Replace certain characters:

In [78]:
cost = 'Apple iphone 14 pro costs HKD9,393. Apple Watch Ultra costs HKD6,399.'
cost_new = cost.replace('HKD', '$')
print(cost)
print(cost_new)

Apple iphone 14 pro costs HKD9,393. Apple Watch Ultra costs HKD6,399.
Apple iphone 14 pro costs $9,393. Apple Watch Ultra costs $6,399.

#### Dictionaries associate keys with values.

In [79]:
Nolan = {'The Prestige': 2006, 'Inception': 2010, 'Interstellar': 2014, 'Dunkirk': 2017, 'Tenet': 2020}
print(Nolan['Tenet'])  # Retrieve a value by using the indexing operator
print(Nolan['Inception'])

2020
2010

In [80]:
Nolan['Despicable Me'] = None
Nolan['Despicable Me']

In [81]:
Nolan

{'The Prestige': 2006,
 'Inception': 2010,
 'Interstellar': 2014,
 'Dunkirk': 2017,
 'Tenet': 2020,
 'Despicable Me': None}

In [82]:
type(Nolan['Despicable Me'])

NoneType

In [83]:
Nolan.items()

dict_items([('The Prestige', 2006), ('Inception', 2010), ('Interstellar', 2014), ('Dunkirk', 2017), ('Tenet', 2020), ('Despicable Me', None)])

In [84]:
Nolan.values()

dict_values([2006, 2010, 2014, 2017, 2020, None])

In [85]:
Nolan.keys()

dict_keys(['The Prestige', 'Inception', 'Interstellar', 'Dunkirk', 'Tenet', 'Despicable Me'])

Iterate over all keys:

In [86]:
for i in Nolan:  # i is the key
    print(i+': '+str(Nolan[i]))

The Prestige: 2006
Inception: 2010
Interstellar: 2014
Dunkirk: 2017
Tenet: 2020
Despicable Me: None

Iterate over all values:

In [87]:
for year in Nolan.values():
    print(year)

2006
2010
2014
2017
2020
None

Iterate over all items in the list:

In [88]:
Nolan.items()

dict_items([('The Prestige', 2006), ('Inception', 2010), ('Interstellar', 2014), ('Dunkirk', 2017), ('Tenet', 2020), ('Despicable Me', None)])

In [89]:
for movie, year in Nolan.items():
    print(movie, year)

The Prestige 2006
Inception 2010
Interstellar 2014
Dunkirk 2017
Tenet 2020
Despicable Me None

Unpack a sequence into several variables:

In [90]:
x = ('Interstellar', 2014)
movie, year = x
print(movie)
print(year)

Interstellar
2014

In [91]:
y = ['Tenet', 2020]
movie, year = y
print(movie)
print(year)

Tenet
2020

The number of values unpacked should match the number of variables assigned:

In [92]:
z = ('Interstellar', 2014, 'Tenet', 2020)
movie1, year1, movie2 = z

ValueError: too many values to unpack (expected 3)

In [93]:
z = ('Interstellar', 2014, 'Tenet', 2020)
movie1, year1, movie2, year2 = z

## String Formatting

<br>
Python has a built in method for convenient string formatting.

In [94]:
movie_record = {
    'person': 'Nolan fans',
    'movie': 'The Prestige',
    'times': 5}

movie_statement = '{} watched Nolan\'s movie {} for a total of {} times!'

print(movie_statement.format(movie_record['person'],
                             movie_record['movie'],
                             movie_record['times']))

Nolan fans watched Nolan's movie The Prestige for a total of 5 times!

In [95]:
x = [movie_record['person'], movie_record['movie'], movie_record['times']]
print(movie_statement.format(x[0], x[1], x[2]))

Nolan fans watched Nolan's movie The Prestige for a total of 5 times!

In [96]:
movie_record.values()

dict_values(['Nolan fans', 'The Prestige', 5])

In [97]:
y = list(movie_record.values())
y

['Nolan fans', 'The Prestige', 5]

In [98]:
print(movie_statement.format(y[0], y[1], y[2]))

Nolan fans watched Nolan's movie The Prestige for a total of 5 times!

## Dates and Times

In [99]:
import datetime as dt
import time as tm

`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

In [100]:
tm.time()

1664730838.052239

Convert the timestamp to datetime.

In [101]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2022, 10, 3, 1, 13, 58, 287879)

<br>
Handy datetime attributes:

In [102]:
dtnow.year, dtnow.month, dtnow.day

(2022, 10, 3)

In [103]:
dtnow.hour, dtnow.minute, dtnow.second

(1, 13, 58)

In [5]:
# dtnow?

`timedelta` is a duration expressing the difference between two dates.

In [105]:
delta = dt.timedelta(days=100)  # create a timedelta of 100 days
delta

datetime.timedelta(days=100)

`date.today` returns the current local date.

In [106]:
today = dt.date.today()
today

datetime.date(2022, 10, 3)

In [107]:
someday = dt.date(2022, 8, 31)
today - someday

datetime.timedelta(days=33)

In [108]:
today - delta  # the date 100 days ago

datetime.date(2022, 6, 25)

In [109]:
today > today-delta, today < someday  # compare dates

(True, False)

## Objects: Class

In [110]:
class Movie:
    category = 'fiction'  # a class variable

    def set_name(self, new_name):  # a method
        self.name = new_name

    def set_year(self, new_year):
        self.year = new_year

In [111]:
movie = Movie()
movie.category

'fiction'

In [112]:
movie.category = 'fiction movies'

In [113]:
movie.category

'fiction movies'

In [114]:
movie.set_name('Interstellar')
movie.set_year('2014')
print('{} in year {} is in the category of {}'.format(movie.name, movie.year, movie.category))

Interstellar in year 2014 is in the category of fiction movies

In [115]:
movie.name

'Interstellar'

## Python: Functions

### General Syntax

In [116]:
# Define a function.
def function_name(arg1, arg2):
    # Do whatever we want this function to do
    #  using arg1 and arg2

    # Use the function: function_name to call the function
function_name(v1, v2)
function_name(value_1, value_2)

IndentationError: expected an indented block after function definition on line 2 (2765240469.py, line 7)

This code will not run, but it shows how functions are used in general.

-   **Defining a function**
    -   Give the keyword `def`, which tells Python that you are about to _define_ a function.
    -   Give your function a name. A variable name tells you what kind of value the variable contains; a function name should tell you what the function does.
    -   Give names for each value the function needs in order to do its work.
        -   These are basically variable names, but they are only used in the function.
        -   They can be different names than what you use in the rest of your program.
        -   These are called the function's _arguments_.
    -   Make sure the function definition line ends with a colon.
    -   Inside the function, write whatever code you need to make the function do its work.
-   **Using your function**
    -   To _call_ your function, write its name followed by parentheses.
    -   Inside the parentheses, give the values you want the function to work with.
        -   These can be variables such as `current_name` and `current_age`, or they can be actual values such as 'a string' and 5.

In [117]:
def greet(person1, person2):
    print("Hello, ", person1, "!", sep="", end="\n")
    print("Hello, ", person2, "!", sep="")


greet("Elon Musk", "Mark Zuckerberg")

Hello, Elon Musk!
Hello, Mark Zuckerberg!

### Returning a Value

Each function you create can return a value. This can be in addition to the primary work the function does, or it can be the function's main job. The following function takes in a number, and returns the corresponding word for that number:

In [118]:
def get_number_word(number):
    # Takes in a numerical value, and returns
    #  the word corresponding to that number.
    if number == 1:
        return 'one'
    elif number == 2:
        return 'two'
    elif number == 3:
        return 'three'
    #  no output otherwise


# Let's try out our function.
for current_number in range(0, 5):
    number_word = get_number_word(current_number)
    print(current_number, number_word)

0 None
1 one
2 two
3 three
4 None

In [119]:
get_number_word(3)

'three'

In [120]:
get_number_word(5)

In [121]:
type(get_number_word(5))

NoneType

It's helpful to see errors, which suggest that programs don't work as they are supposed to, and then look into how those programs can be improved.

In this case, there are no Python errors, but there are still problems:

We want to either not include numbers out of the range , or have the function return something other than `None` when it receives something it doesn't know.

Use `else` clause to return a more informative message for numbers that are not in the range.

In [122]:
# highlight=[13,14,17]
def get_number_word(number):
    # Takes in a numerical value, and returns
    #  the word corresponding to that number.
    if number == 0:
        return 'zero'
    elif number == 1:
        return 'one'
    elif number == 2:
        return 'two'
    elif number == 3:
        return 'three'
    else:
        return "Error: number out of range."


# check
for current_number in range(0, 6):
    number_word = get_number_word(current_number)
    print(current_number, number_word)

0 zero
1 one
2 two
3 three
4 Error: number out of range.
5 Error: number out of range.

If using return, the function stops executing as soon as it hits a return statement:

In [123]:
# highlight=[16,17,18]
def get_number_word(number):
    # Takes in a numerical value, and returns
    #  the word corresponding to that number.
    if number == 0:
        return 'zero'
    elif number == 1:
        return 'one'
    elif number == 2:
        return 'two'
    elif number == 3:
        return 'three'
    else:
        return "I'm sorry, I don't know that number."

    # This line will never execute, because the function has already
    #  returned a value and stopped executing.
    print("This message will never be printed.")


# check
for current_number in range(0, 6):
    number_word = get_number_word(current_number)
    print(current_number, number_word)

0 zero
1 one
2 two
3 three
4 I'm sorry, I don't know that number.
5 I'm sorry, I don't know that number.

### Optional arguments

Define a new function `add_numbers`: takes two numbers and adds them together.

In [124]:
def add_numbers(x, y):
    return x + y


add_numbers(1, 2)

3

Take an optional 3rd parameter (setting a default) <br>
Using `print` allows printing of multiple expressions within a single cell. (Recall: semicolon;) <br>
if else statements

In [125]:
def add_numbers(x, y, z=None):
    if (z == None):
        return x+y
    else:
        return x+y+z


print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

Take an optional flag parameter.

In [126]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')  # continue

    if (z == None):
        return x + y
    else:
        return x + y + z


print(add_numbers(1, 2, flag=True))

Flag is true!
3

Assign function `add_numbers` to a new variable:

In [127]:
def add_numbers(x, y):
    return x+y


a = add_numbers
a(1, 2)

3

### map()

Make an iterator that computes the function using arguments from each of the iterables.
Stops when the shortest iterable is exhausted.

In [128]:
# Returns a list of the results after applying the given function
# to each item of a given iterable; then pass list, etc. to the output iterator
store1 = [10.00, 8.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]

# apply min function
result = map(min, store1, store2)
result

Iterate through the map object (iterator):

In [129]:
for item in result:
    print(item)

9.0
8.0
12.34
2.01

In [130]:
result = map(min, store1, store2)
list(result)

[9.0, 8.0, 12.34, 2.01]

In [131]:
# lists of different lengths
result = map(min, store1, store2[0:3])
list(result)

[9.0, 8.0, 12.34]

In [132]:
# just one list
store3 = list(map(lambda x: x + 5, store2))
print(store3)

[14.0, 16.1, 17.34, 7.01]

In [133]:
# more than two lists
result = map(max, store1, store2, store3[:3])
list(result)

[14.0, 16.1, 17.34]

## Lambda and List Comprehensions

Lambda functions are small functions usually not more than a line. It can have any number of arguments just like a normal function. The body of the lambda function consists of only one expression. <br>
The result of the expression is the value when the lambda is applied to an argument, with no need for any return statement in lambda function. <br>
Example: takes in three parameters and adds the first two.

In [134]:
def func(a, b, c): return a + b


func
func(1, 2, 4)

3

In [135]:
def f(x): return x + 2


print(f(6))
print(type(f))

8
<class 'function'>

In [136]:
type(lambda x: x + 2)

function

In [137]:
(lambda x: x + 2)(6)

8

Use `filter` to creates a list of elements for which a function returns true

In [138]:
list(filter(lambda x: x > 2, [1, 2, 3, 4]))

[3, 4]

#### Create a function that returns a function: easier for lambda

In [139]:
# Without lambda
def make_pow(n):
    def pow_n(x):
        return x ** n
    return pow_n


square = make_pow(2)
print(square(10))
cubic = make_pow(3)
print(cubic(10))
sqrt = make_pow(0.5)
print(sqrt(100))

100
1000
10.0

In [140]:
# with lambda
def make_pow(n):
    return lambda x: x ** n


square = make_pow(2)
print(square(10))
cube = make_pow(3)
print(cube(10))
print(make_pow(0.5)(100))

100
1000
10.0

In [141]:
def make_pow2(n): return (lambda x: x ** n)


square = make_pow2(2)
print(square(10))
cube = make_pow2(3)
print(cube(10))
print(make_pow2(0.5)(100))

100
1000
10.0

In [142]:
print(type(square))

<class 'function'>

#### Function composition: easier for lambda

Define a new function `compose`: <br>
Compose two functions and create a third

In [143]:
# function composition:
def compose(f1, f2):
    def composed(x):
        return f2(f1(x))
    return composed

In [144]:
absolute = compose(lambda x: x ** 2, sqrt)
print(absolute(5))
print(absolute(-5))

5.0
5.0

Alternatively, use lambda:

In [145]:
def compose(f1, f2):
    return lambda x: f2(f1(x))

In [146]:
# suppose we want to (1) calculate the product and then (2) take the sum
def vector_product(x, y): return [x[i] * y[i] for i in range(len(x))]


vector_product([1, 2, 3], [1, 2, 3])

[1, 4, 9]

In [147]:
sq_sum = compose(lambda x: vector_product(x, x), sum)
sq_sum([1, 2, 3])

14

In [148]:
from math import sqrt
norm = compose(compose(lambda x: vector_product(x, x), sum), sqrt)
norm([3, 4])

5.0

### List comprehension: define and create lists based on existing lists

In [149]:
# example: iterate from 0 to 9 and return the even numbers.
# add whatever you want; this will not be executed
# annotations
lis = []
for number in range(0, 10):
    if number % 2 == 0:
        lis.append(number)
lis

[0, 2, 4, 6, 8]

With list comprehension:

In [150]:
lis = [number for number in range(0, 10) if number % 2 == 0]
lis

[0, 2, 4, 6, 8]

In [151]:
range(0, 4)  # 0, 1, 2, 3

range(0, 4)

In [152]:
lis = [number ** 2 for number in range(0, 4)]
lis

[0, 1, 4, 9]

In [153]:
lis = [number ** 3 for number in range(0, 4) if number % 2 == 1]
lis

[1, 27]

In [154]:
lis = [number ** power for number in range(4) for power in range(1, 4)]
lis

[0, 0, 0, 1, 1, 1, 2, 4, 8, 3, 9, 27]

In [6]:
# pip uninstall line_profiler - y

In [7]:
# pip uninstall memory_profiler - y