### Readme

Use anaconda to setup the environment with the pandas.yaml file attached in the zip

OR install pandas and mlxtend manually

### Import libraries

In [1]:
import time
import numpy as numpy
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

## Part 1

### Read txt file and import as pandas Dataframe

In [2]:
inputFile = open('trans.txt','r')
data = [line[:-1].split("\t") for line in inputFile]

te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,0,1,10,100,1000,1001,1002,1003,1004,1005,...,990,991,992,993,994,995,996,997,998,999
0,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668328,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
668329,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
668330,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
668331,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
668332,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

### Run Apriori algorithm

In [3]:
start_time = time.time()
Itemsets = apriori(df, min_support = 0.0001, use_colnames=True, verbose = 1, low_memory = True)
print("Running time: %s seconds" % (round(time.time() - start_time, 2)))

Processing 540 combinations | Sampling itemset size 543
Running time: 229.67 seconds

### Result output

In [8]:
arr = [0.0005, 0.0004, 0.0003, 0.0002, 0.0001]

def min_freq(feq):
    for i in arr:
        if feq > i:
            return i

final = Itemsets.copy()
final['k'] = [len(i) for i in final['itemsets']]
final['minFreq'] = [min_freq(i) for i in final['support']]
final = final.groupby(['k', 'minFreq']).size().unstack().fillna(0)

for i, j in enumerate(arr):
    if j != 0.0005:
        final[j] += final[arr[i-1]]

### Display Result

In [9]:
final

minFreq  0.0001  0.0002  0.0003  0.0004  0.0005
k
1         733.0   592.0   524.0   470.0   437.0
2        8133.0  4553.0  3081.0  2237.0  1727.0
3        7998.0  2734.0  1342.0   800.0   505.0
4        1740.0   334.0   129.0    49.0    26.0
5          90.0     6.0     1.0     0.0     0.0

## part 2