# Final Exam (Part 2)
**Instructions:** <br>
a. this is exam part2. For part1, please go to the Canvas quiz and finish accordingly.  <br>
b. write your answer after `# your answer here`. Do not delete any code that is in the cell, as the code facilitates checking your answers. If you happen to delete any code that prevents expected outputs, you may lose points. <br>
c. make sure the plot shows all the necessary information, including but not limited to **title, axis labels with units, legend**, etc. <br>
d. when you finish the tasks, make sure to use `Kernel` -> `Restart and Run All` to restart the kernel and rerun the entire notebook to generate desired outputs, before submitting your assignment. <br>
e. upload your .ipynb file. <br>

### `SAVE your work and double-check that you upload the correct version with answers before you leave!`

Each subquestion in Question 1, 2, and 3 is worth 5 points. Q1: 10 points; Q2: 20 points; Q3: 20 points; Q4: 10 points. The total score is 60 points.

### Question 1 

**1. (1):**
For an input of a list of strings, count the total number of elements whose string length is 3 or more and the first and last character are the same. <br> <br>
Sample List : ['adc', 'xdz', 'ada', '2022'] <br>
Expected Result : 2

In [ ]:
# your answer here
def count_strings(words):

    
    
    
    

#for grading
print(count_strings(['adc', 'xdz', 'ada', '2022']))
print(count_strings(['aa', 'acc', 'xex', '1991']))

**1. (2):**
Use lambda to remove None values from the input list. <br> <br>
Sample input: <br>
[9, None, 12, None, -56, None, 2022, 12, 9] <br>
Sample output:<br>
[9, 12, -56, 2022, 12, 9]<br>

In [ ]:
# your answer here
def remove_none_values(number):

    

#for grading
nums = [9, None, 12, None, -56, None, 2022, 12, 9]
print("Original list:")
print(nums)
print("\nRemove None value from the said list:")
print(remove_none_values(nums))

### Question 2

The taxis dataset is a public trip record data collected on an open platform. The yellow and green taxi trip records include fields capturing pick-up and drop-off dates/times, pick-up and drop-off locations, trip distances, itemized fares, rate types, payment types, and driver-reported passenger counts.

In [ ]:
# Question 2
import pandas as pd
import seaborn as sns
import numpy as np
taxi = sns.load_dataset('taxis')
taxi.head()

**2.(1)** How many trip records are there in total?

In [ ]:
# Your answer here

**2.(2)** Convert "pickup" and "dropoff" columns into the datetime type. Further, compute the difference between 'dropoff' and 'pickup' and add a new colunm "diff_time".

In [ ]:
# Your answer here




#for grading
print(taxi[['pickup','dropoff']].dtypes)
taxi['diff_time'].head()

**2.(3)** Which payment method is more popular in the taxi dataset?

In [ ]:
# Your answer hereï¼š one line of code

**2.(4)** What is the average `tip` for trips that picked up in the `Manhattan` area paid by `cash`? What is the average `tip` for trips that picked up in the `Manhattan` area and were paid in `credit card`?

The result should be well formatted using string formatting, and it should print as:

The average tip for trips that picked up in the Manhattan area paid by cash is XX

The average tip for trips that picked up in the Manhattan area paid by credit card is XX

In [ ]:
# Your answer here

### Question 3
Continue to use the `taxi` dataset. <br>
**3. (1):** Create `taxi_multi` from taxi, by (a) dropping observations that have NA values in `pickup_borough` and `dropoff_borough`; (b) building the MultiIndex from columns `pickup_borough` and `dropoff_borough`, and sorting the indexes; (c) keeping the first ten columns from `pickup` to `payment` only and dropping the rest columns.

In [ ]:
# your answer here




#for grading
print(taxi_multi.shape)
taxi_multi.head()

**3. (2)**: Using `taxi_multi`, calculate the total trip `distance` made in Bronx, with pickup and dropoff both in Bronx.

In [ ]:
print('Total trip distance in Bronx = ')
# your answer here: one line of code

**3. (3)**: Using `taxi_multi`, calculate the total trip `distance` by each `dropoff_borough`.

In [ ]:
# your answer here: one line of code

**3. (4)**: Use the pivot_table method to find the sum of the `fare` by `pickup_borough` (row) and by `dropoff_borough` (column). Output: A dataframe is expected with index as `pickup_borough` and columns as `dropoff_borough`. For certain combinations of `pickup_borough` and `dropoff_borough`, there are no observations, and thus the values will be "NA".

In [ ]:
# your answer here: one line of code

### Question 4

Continue to use the dataset `taxi`. Count the number of trips by the pickup zone, based on Manhattan pickup trips only. Draw a bar plot for the pickup zones that have more than 180 trips.

In [ ]:
# Your answer here