## Assignment 2 Pandas

Instruction: make sure to use `Kernel` -> `Restart and Run All`, before submitting your assignment.

### Question 1

Use the code to simulate data and answer the questions below.

In [1]:
import pandas as pd
import numpy as np
np.random.seed(1234)
s1 = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
s2 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
s3 = pd.Series(np.random.randint(100, high=301, size=100, dtype='l'))
s4 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

 1. (1) Create a DataFrame `df` by concatenating the three Series s1, s2, s3 as three columns (df: 100 by 3), and then rename column names to be 'a', 'b', 'c'. Keep the first 70 rows of `df`(df: 70 by 3).<br>
 Create another DataFrame `df2` by joinning the two Series s1, s4 by column (df2: 100 by 2), and the column names should be 'A' and 'B'. Then, keep the last 60 rows of `df2`(df2: 60 by 2).

In [12]:
df = pd.concat([s1, s2, s3], axis=1)
df.columns = ['a','b','c']

df = df[0:70]
df2 = pd.DataFrame({'A':s1, 'B':s4})
df2 = df2[40:]

print(df.columns,'\n'); print(df2.columns,'\n')
print(df.index,'\n'); print(df2.index,'\n')
df2.head()

Index(['a', 'b', 'c'], dtype='object')

Index(['A', 'B'], dtype='object')

RangeIndex(start=0, stop=70, step=1)

RangeIndex(start=40, stop=100, step=1)

    A      B
40  4  21028
41  4  10615
42  1  21722
43  2  19723
44  4  28816

1. (2) Merge `df` and `df2` by the index values into `df3`. Note that we will only keep the intersections of the two dataframes (`df3`: 30 by 5). Additionally, drop the column in `df3` that is repetitive (`df3`: 30 by 4).

In [13]:
df3 = pd.merge(df, df2, left_index = True, right_index = True, how='inner').drop('A', axis=1)

print(df3.shape)
df3.head()

(30, 4)

    a  b    c      B
40  4  3  135  21028
41  4  3  270  10615
42  1  1  248  21722
43  2  2  126  19723
44  4  2  189  28816

1. (3) Create a one column DataFrame with the values of the three Series s1, s2, s3 and assign it to 'df4' (300 by 1).

In [14]:
df4 = pd.concat([s1, s2, s3], axis=0)
df4 = df4.to_frame()

print(type(df4)) #check the type of the df4
print(df4.shape) #check the shape
print(df4.tail()) #check last columns: note the index

<class 'pandas.core.frame.DataFrame'>
(300, 1)
      0
95  202
96  108
97  141
98  261
99  169

1. (4) Reindex the DataFrame so that the index is from 0 to 299

In [15]:
df4.reset_index(drop=True, inplace=True)
df4

       0
0      4
1      4
2      3
3      2
4      1
..   ...
295  202
296  108
297  141
298  261
299  169

[300 rows x 1 columns]

### Question 2

First, download the Olympic medal dataset (medals.csv). Use the following code to load the dataset.

The columns give information on: <br>
summer Olympic games--number of games and summer medals;  <br>
winter Olympic games--number of games and winter medals;  <br>
total Olympic games--number of games and total medals.

In [16]:
import pandas as pd
df = pd.read_csv('medals.csv', index_col=0, skiprows=0)

2. (1) Show the first 6 rows in the DataFrame.

In [17]:
# Your answer here
df.head(6)

,Summer,Gold,Silver,Bronze,Total,Winter,Gold.1,Silver.1,Bronze.1,Total.1,Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS

2. (2) Provide the shape of the DataFrame.

In [18]:
# Your answer here
df.shape

(147, 16)

2. (3) Rename the column name 'Combined total' to 'Combined.Total' and then show the columns.

In [19]:
# Your answer here
df.rename({'Combined total': 'Combined.Total'}, axis = 1, inplace = True)
df.columns[14]

'Combined.Total'

2. (4) Change all column names to lowercase and remove all spaces ' '.

In [20]:
# Your answer here
df.columns = df.columns.str.strip()
df.columns = df.columns.str.lower()
df.columns

Index(['summer', 'gold', 'silver', 'bronze', 'total', 'winter', 'gold.1',
       'silver.1', 'bronze.1', 'total.1', 'games', 'gold.2', 'silver.2',
       'bronze.2', 'combined.total', 'id'],
      dtype='object')

2. (5) Which country has won the most gold medals in summer games? Provide the country name and the number of gold medals. <br>
Expected output: a tuple consisting of the country name and the number of gold medals.

In [21]:
def most_gold():
    gold = df['gold'][0:142].append(df['gold'][143:145]) #remove total, Independent Olympic Participants, Mixed team
    countryName = df.index[gold.argmax()]
    return countryName,gold.max()

most_gold()

('United States', 976)

2. (6) Which country had the largest difference between their summer and winter medal counts, relative to the total medal count? <br> Note: only include countries that have won at least 15 medals in both summer and winter. <br>
$$\frac{Summer_{Metal} - Winter_{Metal}}{Total_{Metal}}$$
Instruction: create a new copy of the DataFrame, first calculate the value as a new column named 'percent', and then **return the row information of the country as a pandas Series**, i.e.:<br> <br>
summer x<br>
gold x<br>
silver x<br>
...<br>
percent x<br>
Name: x, dtype: object

In [22]:
def max_diff():
    df2 = pd.concat([df[0:142],df[143:145]]).copy() #remove total, Independent Olympic Participants, Mixed team
    df2 = df2[(df2['total'] > 15) & (df2['total.1'] > 15)]
    df2['percent'] = abs((df2['total']-df2['total.1'])/df2['combined.total'])

    #print(df['percent'].describe()) #check your results
    
    ind = df2['percent'].argmax() #index
    return df2.iloc[ind]

max_diff()

summer                  27
gold                   236
silver                 272
bronze                 272
total                  780
winter                  22
gold.1                  10
silver.1                 4
bronze.1                12
total.1                 26
games                   49
gold.2                 246
silver.2               276
bronze.2               284
combined.total         806
id                     GBR
percent           0.935484
Name: Great Britain, dtype: object

2. (7) Create a new column 'country_cat' that denotes the first letter of the country name, i.e. "A" for "Afghanistan", and count the number of countries in each category. Make sure to present the results alphabetically.

In [23]:
def country_first_letter():
    df2 = pd.concat([df[0:142],df[143:145]]).copy() #remove total, Independent Olympic Participants, Mixed team
    df2['country_cat'] = df2.index.str[0]

    #one way
    return df2.groupby('country_cat')['country_cat'].count()

    #another way
    #return df2['country_cat'].value_counts().sort_index()
    
country_first_letter()

country_cat
A     8
B    12
C    12
D     3
E     6
F     2
G     9
H     3
I     9
J     2
K     4
L     5
M     9
N     8
P     8
Q     1
R     3
S    17
T     8
U     8
V     3
W     1
Y     1
Z     2
Name: country_cat, dtype: int64

### Question 3
Using the following code to read the 'census.csv' dataset, which contains population data for counties and states in US from 2010 to 2015. Counties are political and geographic subdivisions of states in US. <br>

In [1]:
import pandas as pd
census_df = pd.read_csv('census.csv')
# print(census_df.shape,'\n')
# print(census_df.columns, '\n')
# print(census_df.tail())

3. (1) Which state has the largest number of counties? <br>
Note: look at the data carefully and consider the sumlevel carefully. <br>
Return a tuple that contains the name of the state and the number of counties.

In [26]:
def max_county():
    cty = census_df.copy().loc[:,['STNAME','CTYNAME']]

    cty = cty[cty['STNAME'] != cty['CTYNAME']] # remove the state-level summary data and DC data

    state = cty.groupby('STNAME')['STNAME'].count().sort_values(ascending=False)    
    #state.head() #check
    
    return state.index[0], state[0]

max_county()

('Texas', 254)

3. (2) Which **state** has had the largest absolute change in population within the period 2010-2015? (Use columns: `POPESTIMATE2010`- `POPESTIMATE2015`). <br>
For example, if the population in the 5 year period is 1300, 1400, 1100, 1500, 1200, then the largest absolute change is |1500-1100|=400 <br>
Return a tuple that contains the name of the state and the largest absolute change.<br>

In [28]:
def change_state():
    state = census_df.copy()
    state = state[state['COUNTY'] == 0] #only state-level data retained

    state.index = state['STNAME'] #change index

    state = state.iloc[:,state.columns.str.contains('POPESTIMATE')] #extract only POPESTIMATE


    state['MAXCHANGE'] = state.apply(max,axis=1)-state.apply(min,axis=1)
    result = state['MAXCHANGE'].sort_values(ascending=False)
    return result.index[0], result[0]

change_state()

('Texas', 2224751)

3. (3) By looking at the top three most populous **counties** in each **state only**, what are the top three most populous **states** that has the largest population in the top three most populous counties? Use `CENSUS2010POP`. <br>
Return a pandas Series. Index: three state names. Value: the total population in the top three most populous counties (in the order of highest to lowest population).

In [29]:
def top_states():
    
    df2 = census_df.copy()
    df2 = df2[df2['COUNTY'] != 0] # alternative way to remove the state-level summary data

    # apply a function to the group results
    def three_county(x):
    
        # x is a DataFrame of group values
        county = x['CENSUS2010POP'].sort_values(ascending=False)
        return county[0:3].sum()

    #apply the function
    pop = df2.groupby('STNAME').apply(three_county)
    return pop.sort_values(ascending=False)[0:3]

re = top_states()
print(re.index.values) #state names
print(re.values) # total population of the top three counties

['California' 'Texas' 'Illinois']
[15924150  8269632  6815061]

3. (4) Convert the `CENSUS2010POP` from numbers to strings with thousands separators (using commas). i.e. 100000 to 100,000. <br>
Return the pandas series of strings.

In [30]:
def separator():
    return census_df['CENSUS2010POP'].apply(lambda x: format(x, ',d'))

separator()

0       4,779,736
1          54,571
2         182,265
3          27,457
4          22,915
          ...
3188       43,806
3189       21,294
3190       21,118
3191        8,533
3192        7,208
Name: CENSUS2010POP, Length: 3193, dtype: object